@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 40px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners-baner {
  background: var(--primary);
  border-radius: 24px;
  padding: 45px 52px;
  color: var(--white);
}

.partners-baner {
  font-size: 1.143rem;
}

.partners-baner button {
  background: var(--white);
  color: var(--primary);
  font-size: 1.143rem;
  font-weight: 500;
  border: none;
  padding: 14px 52px;
  border-radius: 10px;
  cursor: pointer;
}

.partners-baner .speakers {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 22px;
}

.speakers button {
  transition: 0.4s;
}

.speakers button:hover {
  transform: scale(1.05);
}

.partners-baner ul {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 44px;
  padding: 0;
}

.partners-baner ul li {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 44px;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  overflow: hidden;
}

.partners-baner ul li img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.partners-baner ul li:nth-child(1) {
  --offset: 1;
  z-index: 2;
  transform: translateX(80px);
}

.partners-baner ul li:nth-child(2) {
  --offset: 1;
  z-index: 2;
  transform: translateX(60px);
}

.partners-baner ul li:nth-child(3) {
  --offset: 2;
  z-index: 3;
  transform: translateX(40px);
}

.partners-baner ul li:nth-child(4) {
  --offset: 3;
  z-index: 4;
  transform: translateX(20px);
}

.partners-baner ul li:nth-child(5) {
  --offset: 3;
  z-index: 5;
}

.partners-baner h2 {
  font-family: "Lexend Deca", sans-serif;
}

.partners-baner p {
  color: var(--white);
}

/* partners */

.partners {
  padding-bottom: 104px;
}

.partners h3 {
  text-align: center;
  margin-bottom: 12px;
}

.partners .row {
  margin-top: 40px;
}

.partners .flex {
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.partners .partner-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  background: var(--section);
  border-radius: 16px;
  width: 196px;
  height: 90px;
}

.partners .partner-block img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* faq */

.faq {
  background: var(--section);
  padding: 52px 0;
}

.faq .flex {
  align-items: flex-start;
  gap: 20px;
}

.faq-text {
  max-width: 468px;
  min-width: 468px;
}

.faq-text h2 {
  line-height: 124%;
  margin-bottom: 15px;
  color: var(--primary-head);
  font-family: "Lexend Deca", sans-serif;
}

.faq-text button {
  transition: 0.4s;
}

.faq-text button:hover {
  transform: scale(1.05);
}

.faq p span {
  display: block;
  font-weight: 500;
  color: var(--secondary);
  font-weight: normal;
  font-size: 1.429rem;
  margin-bottom: 8px;
}

.faq p {
  color: var(--gray);
}

.faq-text button {
  background: var(--primary);
  color: var(--white);
  font-size: 1.143rem;
  font-weight: 500;
  border: none;
  padding: 14px 52px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.accordeeon {
  border-radius: 8px;
  overflow: hidden;
  max-width: 680px;
}

.accordion-item {
  margin-bottom: 16px;
  background: var(--white);
  transition: 0.3s ease;
  border-radius: 12px;
}

.accordion-item.active {
  background: var(--active-background);
}

.accordion-item:last-child {
  margin-bottom: 0;
}

.accordion-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.286rem;
  font-weight: 500;
  text-align: left;
  border: none;
  cursor: pointer;
  background: none;
  padding: var(--padding-medium);
}

.accordion-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #faf8fc;
  position: relative;
  transform: rotate(-90deg);
  transition: 0.4s ease;
}

.accordion-item.active .accordion-indicator {
  background: var(--primary);
  transform: rotate(0deg);
}

.accordion-item.active .accordion-indicator svg {
  transform: translate(-50%, -40%);
}

.accordion-indicator svg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: stroke 0.3s ease;
}

.accordion-item svg path {
  stroke: var(--primary-accent);
}

.accordion-item.active svg path {
  stroke: var(--white);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-content p {
  color: var(--gray);
  padding: var(--padding-medium);
  padding-bottom: 20px;
  padding-top: 0;
}

/* podcast */
.podcast {
  padding: 80px 0;
}

.podcast h2 {
  color: var(--primary-head);
  border-left: 1px solid #e1deeb;
  padding-left: 14px;
  line-height: 3.143rem;
  font-family: "Lexend Deca", sans-serif;
}

.podcast p {
  margin-top: 24px;
  margin-bottom: 32px;
  max-width: 690px;
  opacity: 0.7;
}

.podcast img {
  max-width: 1083px;
  object-fit: contain;
  width: 100%;
}

.event {
  padding-bottom: 80px;
}

.event .video {
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  margin: 40px 0;
  font-size: 1.286rem;
  text-align: center;
  padding: 0 50px;
  border-radius: 24px;
}

.event h2 {
  color: var(--primary-head);
  border-left: 1px solid #e1deeb;
  padding-left: 14px;
  line-height: 3.143rem;
  font-family: "Lexend Deca", sans-serif;
}

.reviews-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.reviews {
  display: flex;
  gap: 22px;
  transition: transform 0.3s ease-in-out;
}

.review {

  padding: 20px;
  border-radius: 14px;
  border: 1px solid #571cb433;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.review img {
  margin-bottom: 10px;
}

.reviews-indicators {
  display: none;
}



.review-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-head);
  margin-top: 8px;
}

/* join-our-newsletter */
.join-our-newsletter h2 {
  line-height: 3.143rem;
  margin-bottom: 24px;
}

.join-our-newsletter .banner {
  background: var(--linear-gradient-background);
  background: var(--linear-gradient);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 24px;
  padding: 64px 30px;
}

.join-our-newsletter .banner h2 {
  font-family: "Lexend Deca", sans-serif;
}

.join-our-newsletter .banner p {
  max-width: 462px;
  opacity: 0.7;
  color: var(--white);
}

.join-our-newsletter .banner form {
  display: flex;
  padding: 8px;
  border-radius: 12px;
  background: var(--white);
  max-width: 660px;
  width: 100%;
  margin-top: 32px;
}

.join-our-newsletter .banner form input {
  width: 100%;
  height: 52px;
  padding-left: 24px;
  font-size: 14px;
  border: none;
  outline: none;
}

.join-our-newsletter .banner form button {
  background: #e65183;
  color: var(--white);
  font-size: 1.143rem;
  font-weight: 500;
  border: none;
  padding: 14px 70px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.join-our-newsletter .banner form button:hover {
  transform: scale(1.05);
}

.recent-updates {
  padding: 80px 0;
}

.recent-updates .title {
  text-align: center;
  max-width: 482px;
  margin: 0 auto;
}

.recent-updates .title h2 {
  color: var(--primary-head);
  margin-bottom: 15px;
  font-family: "Lexend Deca", sans-serif;
}

.recent-updates .title p {
  opacity: 0.7;
}

.recent-updates-row {
  display: flex;
  gap: 24px;
  margin-top: 28px;
}

.recent-updates-box {
  border: 1px solid #e1deeb;
  border-radius: 24px;
  padding: 16px 16px 24px 16px;
}

.recent-updates-box h4 {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  color: var(--primary-head);
  font-size: 1.286rem;
  margin-bottom: 8px;
  margin-top: 18px;
}

.recent-updates-box p {
  opacity: 0.7;
}

.recent-updates-box .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

.recent-updates-box img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 14px;
}

.recent-updates-box .options p {
  opacity: 0.5;
}

.recent-updates-box .options a {
  color: var(--secondary);
  font-size: 1.143rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 8px;
}

footer {
  padding-top: 88px;
  padding-bottom: 64px;
  background: #f8f8f8;
}

.footer-bottom {
  display: flex;
}

.footer-links {
  display: flex;
}

.footer-links .line div {
  display: block;
  width: 1px;
  height: 100%;
  background: #000;
}

.footer-links a {
  opacity: 0.4;
  text-decoration: underline;
}

.footer-links .line {
  padding: 0 15px;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .desc {
  max-width: 823px;
  margin-top: 24px;
  margin-bottom: 64px;
}

footer .desc a {
  text-decoration: underline;
}

footer a {
  color: #000;
  font-weight: 400;
}

.footer-menu,
.footer-menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 15px;
}

.footer-menu-mobile {
  display: none;
}

.registration {
  padding: 44px 0;
  background: #faf8fc;
}

.partners-baner-section {
  margin-top: 56px;
}

.registration-container {
  max-width: 600px;
  width: 100%;
  border-radius: 24px;
  margin: 0 auto;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
  border: 1px solid var(--primary);
  border-radius: 500px;
  width: fit-content;
  margin: 0 auto;
  padding: 4px;
  margin-bottom: 24px;
}

.toggle-buttons button {
  font-family: "Lexend Deca", sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: none;
  font-weight: bold;
  font-size: 1.429rem;
  color: var(--primary);
  cursor: pointer;
  border-radius: 500px;
  transition: all 0.3s ease;
}

.toggle-buttons .active {
  background: var(--primary);
  color: var(--white);
}

.registration-title {
  text-align: center;
  font-weight: 700;
  color: var(--primary-head);
  margin-bottom: 8px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 2.286rem;
}

.registration-subtitle {
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.5;
}

.form-container {
  background: var(--white);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.step-1 .input-group {
  display: flex;
  gap: 12px;
}

.step-1 label {
  display: block;
  color: #6f6c6f;
  margin-bottom: 8px;
  margin-top: 24px;
  text-align: left;
}

.step-1 input,
.step-1 select {
  width: 100%;
  padding: 12px;
  border: 1px solid #66666659;
  border-radius: 12px;
  font-size: 14px;
  background: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.step-1 .input-group>div {
  width: 50%;
}

.step-1 select {
  background: white url('data:image/svg+xml;utf8,<svg fill="%236A6A8B" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  padding-right: 32px;
}

.next-step {
  width: 100%;
  padding: 14px;
  background: var(--primary);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 24px;
}

@media (max-width: 480px) {
  .input-group {
    flex-direction: column;
  }

  .steps::before {
    left: 20%;
    width: 60%;
  }
}

.form-step {
  display: none;
}

.active-step {
  display: block;
}

.prev-step,
.submit-form {
  width: 100%;
  padding: 14px;
  background: var(--primary);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 24px;
}

.prev-step {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border: 1px solid var(--primary);
  color: #7a59ae;
  font-weight: 500;
  max-width: 196px;
  position: relative;
}

.prev-step svg {
  position: absolute;
  left: 40px;
  height: 17px;
}

.step-2-box {
  display: flex;
  gap: 12px;
  align-items: center;
  border: 1px solid #66666659;
  border-radius: 12px;
  padding: 16px;
  margin-top: 8px;
}

.step-2 h4 {
  margin-top: 24px;
}

.step-2 input {
  display: block;
  width: 50px;
  height: 50px;
}

.step-2-checkbox-descr {
  opacity: 0.6;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary);
  border-radius: 4px;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  transition: all 0.3s ease-in-out;
}

.custom-checkbox input:checked+.checkmark {
  background-color: var(--primary);
  border-color: var(--primary);
}

.step-3 textarea {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #66666659;
  min-height: 200px;
  margin-bottom: 26px;
  outline: none;
  margin-top: 8px;
  resize: none;
  padding: 20px;
}

.step-3-box {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.step-btns {
  display: flex;
  gap: 14px;
}

.step-3-box a {
  color: var(--secondary);
  text-decoration: underline;
}