@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #571cb4;
  --primary-dark: #2f1656;
  --secondary: #e65183;
  --white: #fff;
  --black: #302c30;
  --light-gray: #e9dae8;
  --gray: #6f6c6f;
  --section: #faf8fc;
  --linear-gradient: linear-gradient(
    270deg,
    rgba(234, 82, 130, 1) 0%,
    rgba(87, 28, 180, 1) 100%
  );
  --primary-head: #2f1656;
  --linear-gradient: linear-gradient(
    270deg,
    rgba(234, 82, 130, 1) 0%,
    rgba(87, 28, 180, 1) 100%
  );
  --linear-gradient-background: rgb(234, 82, 130);
  --text-black: #020f14b2;
  --purple: #7b4cc4;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

p,
a,
span {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-black);
}

/* h1: 5.143rem = 5.143 * 14 = 72px */
h1 {
  font-size: 5.143rem;
  font-weight: 900;
  text-transform: uppercase;
}

/* h2: 3.143rem = 3.143 * 14 = 44px */
h2 {
  font-size: 3.143rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* h3: 2rem = 2 * 14 = 28px */
h3 {
  font-size: 2rem;
  font-weight: 600;
}

/* h4: 1.143rem = 1.143 * 14 = 16px */
h4 {
  font-size: 1.143rem;
  font-weight: 600;
}

.box {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.section {
  width: 100%;
}

.wrapper {
}
.form-steps {
  display: flex;
  gap: 72px;
}
.form-step-block {
  width: 80px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.form-block-circle {
  margin-bottom: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #571cb466;
}
.form-block-circle.active {
  background: var(--white);
  border: 6px solid var(--secondary);
}
.form-step-block:nth-child(2) .form-block-circle {
  position: relative;
}
.form-step-block:nth-child(2) .form-block-circle::before {
  content: "";
  position: absolute;
  top: calc(20px / 2);
  width: 96px;
  height: 2px;
  background: var(--secondary);
  right: calc(100% + 14px);
  border-radius: 20px;
}

.form-step-block:nth-child(2) .form-block-circle::after {
  content: "";
  position: absolute;
  top: calc(20px / 2);
  width: 96px;
  height: 2px;
  background: #571cb4;
  left: calc(100% + 14px);
  border-radius: 20px;
}
.form-block-number {
  font-size: 0.714rem;
  font-weight: 400;
  color: #201d2480;
}
.form-block-name.active {
  color: #2f1656;
  font-weight: 600;
}

.form-block-name {
  color: #2f165699;
  font-weight: 400;
  line-height: 100%;
}

@media (max-width: 1296px) {
  .container {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }

  h2 {
    font-size: 2.286rem;
  }
}

@media (max-width: 768px) {
  .container {
    width: 576px;
  }

  h1 {
    font-size: 2.286rem;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
